<h1><%= @user.name %></h1>

<table>
<tr><%= link_to @user.email, "mailto:#{@user.email}" %></tr>
<br/>
<h2 class='pull-left'>My Topics:</h2>
<br/>
<% @user.created_topics.each do |topic| %>
  <tr>
    <td><%= link_to topic.name, topic %></td>
    <td><%= link_to 'Delete', topic_path(topic.id), method: :delete if current_user?(@user) %></td>
  </tr>
<% end %>
</table>
