<h1>Your Subscriptions</h1>
<table>
  <tr>Topics:</tr>
  <br/>
  <% current_user.subscriptions.each do |subscription| %>
    <tr>
      <td><%= link_to subscription.topic.name, topic_path(subscription.topic.id) %></td>
      <td><%= link_to 'Unsubscribe', 
              subscription_path(subscription.id),
              method: :delete %>
      </td>
    </tr>
    <br/>
  <% end %>
</table>
