<h1>Your Subscriptions</h1>
<table>
  <tr>Topics:</tr>
  <br/>
  <% current_user.subscribed_topics.each do |topic| %>
    <tr>
      <td><%= link_to topic.name, topic %></td>
      <td><%= link_to 'Unsubscribe', 
              subscription_path(current_user.subscriptions.find_by_topic_id(topic.id)),
              method: :delete %>
      </td>
    </tr>
    <br/>
  <% end %>
</table>
